{% extends 'base.html.twig' %}
{% block li %}
    <li class="nav-item">
        <a class="nav-link" href="/newHomeAddress">New home-address</a>
    </li>
{% endblock %}

{% block body %}
    <div class="container" id="main">
        <form action="/createContact" method="POST">
            <label>Name:</label><br>
            <input type="text" name="name" value=""><br>
            <label>Surname:</label><br>
            <input type="text" name="surname" value=""><br>
            <label>Phone number:</label><br>
            <input type="tel" name="phoneNumber" value=""><br>
            <label>Email:</label><br>
            <input type="email" name="email" value=""><br>
            <label>Description:</label><br>
            <textarea name="description" rows="2" cols="20"></textarea><br><br>
            <input class="btn btn-light" type="submit" value="Save">
        </form>
    </div>
{% endblock %}
